{% extends "public/base.twig" %}

{% block content %}
    <main class="bg-zinc-800 max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="text-gray-100 font-bold text-2xl text-center">Login</h3>
        </section>

        <div class="">
            <span class="text-green-700 text-sm"><strong>{{ flash.getMessage('success')[0] }}</strong></span>
            <span class="text-red-700 text-sm"><strong>{{ flash.getMessage('error')[0] }}</strong></span>
        </div>

        <section class="mt-6">
            <form class="flex flex-col" method="POST" action="{{actionLoginAccount}}">

                <div class="mb-6">
                    <div class="pt-3 rounded bg-gray-200">
                        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="identifier">CPF</label>
                        <input required type="number" maxlength="11" id="identifier" name="identifier" pattern="[0-9]{11}" title="00000000000" placeholder="00000000000" class="bg-white rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="text-[10px] text-gray-300 italic mt-1">Apenas números</div>
                </div>  

                <div class="mb-6 pt-3 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Senha</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <input class="hidden login-password-toggle" id="toggle" type="checkbox" />
                            <label class="text-sm text-gray-600 cursor-pointer login-password-label" for="toggle">
                                <i class="fa-solid fa-eye"></i>
                            </label>
                        </div>
                        <input id="authPassword" type="password" name="password" autocomplete="off" class="login-password bg-white rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-green-700 transition duration-500 px-3 pb-3"/>
                    </div>                    
                </div>
                <div class="flex justify-end">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="text-sm text-gray-100 hover:text-gray-100 hover:underline mb-6">Esqueceu a senha?</a>
                </div>
                <button class="bg-green-700 hover:bg-emerald-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Entrar</button>
                {# <div class="w-full text-center mt-3">
                    <button class="bg-zinc-700 text-white font-bold py-0 px-3 rounded" type="submit">
                        <img src="assets/img/icon-google.png" class="w-8 h-8">
                    </button>
                    <button class="bg-zinc-700 text-white font-bold py-0 px-3 rounded" type="submit">
                        <img src="assets/img/icon-facebook.png" class="w-9 h-9">
                    </button>
                </div> #}
            </form>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <div class="max-w-lg mx-auto text-center mt-12 mb-6">
        <p class="text-gray-100">Não tem cadastro? <a href="#" data-bs-toggle="modal" data-bs-target="#myAccountModal" class="font-bold hover:underline">Clique aqui</a>.</p>
    </div>

    <!-- Modal -->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="myAccountModal" tabindex="-1" aria-labelledby="myAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable relative w-auto pointer-events-none">
            <div
            class="bg-zinc-800 modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-clip-padding rounded-md outline-none text-current">
                <div
                    class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                    <h5 class="text-xl font-medium leading-normal text-green-700" id="myAccountModalLabel">
                    Cadastre-se
                    </h5>
                    <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-gray-100 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-gray-200 hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="modal-body relative p-4">
                    <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" method="POST" action="{{actionNewUser}}">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-200 dark:text-gray-200">Nome completo*</label>
                            <input required type="text" name="name" id="name"  class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400">
                        </div>
                        <div>
                            <label for="newIdentifier" class="block mb-2 text-sm font-medium text-gray-200 dark:text-gray-200">CPF*</label>
                            <input required type="number" maxlength="11" name="identifier" id="newIdentifier" pattern="[0-9]{11}" title="00000000000" placeholder="00000000000" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            <div class="text-[10px] text-gray-300 italic mt-1">Apenas números</div>
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-200 dark:text-gray-200">E-mail*</label>
                            <input required type="email" name="email" id="email" placeholder="email@email.com" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-200 dark:text-gray-200">Senha*</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 right-0 flex items-center px-2">
                                    <input class="hidden new-user-password-toggle" id="newToggle" type="checkbox" />
                                    <label class="text-sm text-gray-600 cursor-pointer new-user-password-label" for="newToggle">
                                        <i class="fa-solid fa-eye"></i>
                                    </label>
                                </div>
                                <input required type="password" name="password" id="password" placeholder="••••••••" class="new-user-password bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400">
                            </div>  
                        </div>
                        <div>
                            <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-200 dark:text-gray-200">Confirmar senha*</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 right-0 flex items-center px-2">
                                    <input class="hidden new-user-confirm-password-toggle" id="newConfirmToggle" type="checkbox" />
                                    <label class="text-sm text-gray-600 cursor-pointer new-user-confirm-password-label" for="newConfirmToggle">
                                        <i class="fa-solid fa-eye"></i>
                                    </label>
                                </div>
                                <input required type="password" name="confirm_password" id="confirm_password" placeholder="••••••••" class="new-user-confirm-password bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400">
                            </div> 
                            {# <input required type="password" name="" id="" placeholder="••••••••" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400"> #}
                        </div>
                        <div>
                            <label>
                                <input required id="termsConditions" value="{{idTerms}}" name="terms_conditions" type="checkbox"
                                    class=""/>
                                <span class="text-gray-200 text-sm">Declaro que li e concordo com os <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal" class="hover:underline">Termos e Condições de Uso</a></span>
                            </label>
                        </div>
                </div>
                <div  class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                    <button type="submit"
                    class="inline-block px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-emerald-700 hover:shadow-lg focus:bg-emerald-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-emerald-700 active:shadow-lg transition duration-150 ease-in-out ml-1">
                    Salvar
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable relative w-auto pointer-events-none">
            <div
            class="bg-zinc-800 modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-clip-padding rounded-md outline-none text-current">
                <div
                    class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                    <h5 class="text-xl font-medium leading-normal text-green-700" id="forgotPasswordModalLabel">
                    Esqueceu a senha
                    </h5>
                    <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-gray-100 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-gray-200 hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="modal-body relative p-4">
                    <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" method="POST" action="{{actionForgotPassword}}">
                        <div>
                            <label for="identifierForgotPassword" class="block mb-2 text-sm font-medium text-gray-200 dark:text-gray-200">CPF*</label>
                            <input required type="number" maxlength="11" name="identifierForgotPassword" id="identifierForgotPassword" pattern="[0-9]{11}" title="00000000000" placeholder="00000000000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            <div class="text-[10px] text-gray-300 italic mt-1">Apenas números</div>
                        </div>
                        <div class="text-right">
                            <button type="submit"
                            class="inline-block px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-emerald-700 hover:shadow-lg focus:bg-emerald-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                            Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_footer %}
<script>
passwordToggle = document.querySelector('.login-password-toggle');
passwordToggle.addEventListener('change', function() {
const password = document.querySelector('.login-password'),
    passwordLabel = document.querySelector('.login-password-label')

    if (password.type === 'password') {
        password.type = 'text'
        passwordLabel.innerHTML = '<i class="fa-solid fa-eye-slash"></i>'
    } else {
        password.type = 'password'
        passwordLabel.innerHTML = '<i class="fa-solid fa-eye"></i>'
    }

    password.focus()
});

newUserPasswordToggle = document.querySelector('.new-user-password-toggle');
newUserPasswordToggle.addEventListener('change', function() {
const newUserPassword = document.querySelector('.new-user-password'),
    newUserPasswordLabel = document.querySelector('.new-user-password-label')

    if (newUserPassword.type === 'password') {
        newUserPassword.type = 'text'
        newUserPasswordLabel.innerHTML = '<i class="fa-solid fa-eye-slash"></i>'
    } else {
        newUserPassword.type = 'password'
        newUserPasswordLabel.innerHTML = '<i class="fa-solid fa-eye"></i>'
    }

    password.focus()
});


newUserConfirmPasswordToggle = document.querySelector('.new-user-confirm-password-toggle');
newUserConfirmPasswordToggle.addEventListener('change', function() {
const newUserConfirmPassword = document.querySelector('.new-user-confirm-password'),
    newUserConfirmPasswordLabel = document.querySelector('.new-user-confirm-password-label')

    if (newUserConfirmPassword.type === 'password') {
        newUserConfirmPassword.type = 'text'
        newUserConfirmPasswordLabel.innerHTML = '<i class="fa-solid fa-eye-slash"></i>'
    } else {
        newUserConfirmPassword.type = 'password'
        newUserConfirmPasswordLabel.innerHTML = '<i class="fa-solid fa-eye"></i>'
    }

    password.focus()
});
</script>
{% endblock %}

